:root {
  --font-size-12: 0.75rem; /* 12px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px, base */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */

  --width-sidebar: 5.625rem; /* 90px */
}

*:focus-visible {
  outline: 2px solid hsl(175, 52%, 44%);
}

html {
  font-family: 'Figtree', 'Tamoma', 'Geneva', sans-serif;
  scrollbar-gutter: stable;
  /* scrollbar-gutter: stable both-edges; */
}